<div class="row my-3">
  <div class="col-md-2">
    <ul class="nav nav-tabs flex-column" id="help-tabs" role="tablist">
      <% first_page = true %>
      <% help_pages.each do |help_page| %>
        <% if first_page %>
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="<%= help_page.title_no_spaces %>-tab" data-bs-toggle="tab" data-bs-target="#<%= help_page.title_no_spaces %>-panel" type="button" role="tab" aria-controls="<%= help_page.title_no_spaces %>-panel" aria-selected="true">
              <%= help_page.title %>
            </button>
          </li>
          <% first_page = false %>
        <% else %>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="<%= help_page.title_no_spaces %>-tab" data-bs-toggle="tab" data-bs-target="#<%= help_page.title_no_spaces %>-panel" type="button" role="tab" aria-controls="<%= help_page.title_no_spaces %>-panel" aria-selected="false">
              <%= help_page.title %>
            </button>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content" id="help-tabs-content" data-turbo="false">
      <% first_page = true %>
      <% @help_pages.each do |help_page| %>
        <% if first_page %>
          <div class="tab-pane fade show active" id="<%= help_page.title_no_spaces %>-panel" role="tabpanel" aria-labelledby="<%= help_page.title_no_spaces %>-tab">
            <%= help_page.details %>
          </div>
          <% first_page = false %>
        <% else %>
          <div class="tab-pane fade" id="<%= help_page.title_no_spaces %>-panel" role="tabpanel" aria-labelledby="<%= help_page.title_no_spaces %>-tab">
            <%= help_page.details %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>