<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= user.full_name %></h5>
    <div class="card-text">
      <table class="table table-striped table-hover table-sm">
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= user.mobile_phone %></td>
        </tr>
        <% if can? :lock_or_unlock, user %>
          <tr>
            <th>Access</th>
            <td><%= render "layouts/icons_helper", field_value: user.access_locked?, field_type: "lock" %></td>
          </tr>
        <% end %>
        <% if can?(:resend, user) && user.created_by_invite? %>
          <tr>
            <th><span class="d-none d-md-inline">Invitation </span>Accepted</th>
            <td><%= render "layouts/icons_helper", field_value: user.invitation_accepted?, field_type: "yes_no" %></td>
          </tr>
        <% end %>
        <tr>
          <th>Roles</th>
          <td><%= user.role_desc %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
