<%= render 'layouts/page_title', page_title: 'User', page_subtitle: nil %>
<div class="container border shadow bg-light bg-gradient">
  <div class="row my-3">
    <div class="col-md-9 col-lg-10 order-md-1 order-2">
      <div class="d-grid my-3">
        <%= render @user, user: @user, summary: true %>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 order-md-1 order-2">
      <% if @user.id == current_user.id %>
        <div class="d-grid my-3">
          <%= link_to edit_user_registration_path, class: "btn btn-primary" do %>
            <i class="fi-pencil"></i>&nbsp;Edit
          <% end %>
        </div>
      <% end %>
      <% if can?(:resend, @user) && @user.created_by_invite? %>
        <% unless @user.invitation_accepted? %>
          <%= button_to 'Resend Invite', resend_user_path(@user), {method: :patch, form_class: "d-grid my-3", class: "btn btn-primary"} do %>
            <i class="fi-mail"></i>&nbsp;Resend Invite
          <% end %>
        <% end %>
      <% end %>
      <% if can?(:lock_or_unlock, @user) && @user.id != current_user.id %>
        <% if @user.access_locked? %>
          <%= button_to lock_or_unlock_user_path(@user), {method: :patch, form_class: "d-grid my-3", class: "btn btn-primary"} do %>
            <i class="fi-unlock"></i>&nbsp;Unlock
          <% end %>
        <% else %>
          <%= button_to lock_or_unlock_user_path(@user), {method: :patch, form_class: "d-grid my-3", class: "btn btn-primary"} do %>
            <i class="fi-lock"></i>&nbsp;Lock
          <% end %>
          <%= button_to user_path(@user), {data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, form_class: "d-grid my-3", class: "btn btn-danger"} do %>
            <i class="fi-trash"></i>&nbsp;Delete
          <% end %>
        <% end %>
        <div class="d-grid my-3">
          <%= link_to users_path, class: "btn btn-secondary" do %>
            <i class="fi-previous"></i>&nbsp;Users
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/bootstrap_tabs', bootstrap_tabs: @bootstrap_tabs %>
</div>
