<%= render 'layouts/page_title', page_title: 'Set Password', page_subtitle: nil %>
<div class="container border shadow bg-light bg-gradient">
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :invitation_token, readonly: true %>
    <div class="row my-3">
      <div class="col-md-9 col-lg-10 order-md-1 order-2">
        <div class="row my-3">
          <div class="col text-center">
            <h5><%= resource.full_name %></h5>
            <%= resource.email %>
          </div>
        </div>
        <% if f.object.class.require_password_on_accepting %>
          <div class="row my-3">
            <div class="col-md-3 text-md-end">
              <%= f.label :password, class: "form-label" %>
            </div>
            <div class="col-md">
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-3 text-md-end">
              <%= f.label :password_confirmation, class: "form-label" %>
            </div>
            <div class="col-md">
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 col-lg-2 order-md-1 order-2">
        <div class="d-grid my-3">
          <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>