<%= render 'layouts/page_title', page_title: @page_title, page_subtitle: nil %>
<div class="container border shadow bg-light bg-gradient">
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.hidden_field :user_role_id, value: @user_role.name %>
    <%= f.hidden_field :created_by, value: current_user.id %>
    <%= f.hidden_field :updated_by, value: current_user.id %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row my-3">
      <div class="col-md-9 col-lg-10 order-md-1 order-2">
        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="row my-3">
            <div class="col-md-3 text-md-end">
              <%= f.label field, class: "form-label" %>
            </div>
            <div class="col-md">
              <%= f.text_field field, class: "form-control" %>
            </div>
          </div>
        <% end -%>
      </div>
      <div class="col-md-3 col-lg-2 order-md-1 order-2">
        <div class="d-grid my-3">
          <%= button_tag class: "btn btn-primary" do %>
            <i class="fi-mail"></i>&nbsp;Send Invite
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>