<!DOCTYPE html>
<html>
  <head>
    <title><%= APP_SHORT_NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/801e4a4dd6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "foundation-icons" %>
    <%= stylesheet_link_tag "actiontext" %>
    <%= stylesheet_link_tag "simple-calendar" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="apple-touch-icon" href="<%= FAVICON_LOGO %>">
    <%= favicon_link_tag FAVICON_LOGO %>
    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
